{% extends 'main.html' %}
{% block content %}
<style>
body {
    font-family: 'Bogle';
        height: 100vh;
        background-image: url('https://wallpaperaccess.com/full/899156.jpg'); /* Replace with an actual healthcare background image URL */
        background-size: cover; /* Adjust background size to cover the entire viewport */
        margin: 0;
        background-repeat: no-repeat;
        background-attachment: fixed;
}
</style>
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <center><h1 style="color:white;">Diabetes Predictor</h1></center>
        <div class="card card-body" style="background-color: #ffffff;opacity: 0.8;border-radius: 25px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);">
            <form class="form-horizontal" action="{{ url_for('predictPage') }}" method="POST">
                <div class="form-group">
                    <input style="background-color: #ffffff;opacity: 0.8;border-radius: 25px;" class="form-control" type="text" name="Pregnancies" placeholder="No. of Pregnancies">
                </div>
                <div class="form-group">
                    <input style="background-color: #ffffff;opacity: 0.8;border-radius: 25px;" class="form-control" type="text" name="Glucose" placeholder="Glucose">
                </div>
                <div class="form-group">
                    <input style="background-color: #ffffff;opacity: 0.8;border-radius: 25px;" class="form-control" type="text" name="BloodPressure" placeholder="Blood Pressure (in mmHg)">
                </div>
                <div class="form-group">
                    <input style="background-color: #ffffff;opacity: 0.8;border-radius: 25px;" class="form-control" type="text" name="SkinThickness" placeholder="Skin Thickness (in mm)">
                </div>
                <div class="form-group">
                    <input style="background-color: #ffffff;opacity: 0.8;border-radius: 25px;" class="form-control" type="text" name="Insulin" placeholder="Insulin (in µU/ml)">
                </div>
                <div class="form-group">
                    <input style="background-color: #ffffff;opacity: 0.8;border-radius: 25px;" class="form-control" type="text" name="BMI" placeholder="BMI">
                </div>
                <div class="form-group">
                    <input style="background-color: #ffffff;opacity: 0.8;border-radius: 25px;" class="form-control" type="text" name="DiabetesPedigreeFunction" placeholder="Diabetes Pedigree Function">
                </div>
                <div class="form-group">
                    <input style="background-color: #ffffff;opacity: 0.8;border-radius: 25px;" class="form-control" type="text" name="Age" placeholder="Age (in years)">
                </div>

                <input style="background-color: black;opacity: 0.8;border-radius: 25px;" type="submit" class="btn btn-info btn-block" value="Predict">
            </form>
        </div>
    </div>
    <div class="col-md-3"></div>
</div>
{% endblock %}